<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <!--[if lte IE 8]><script src="{{asset "css/ie/html5shiv.js"}}"></script><![endif]-->
    <script src="{{asset "js/jquery.min.js"}}"></script>
    <script src="{{asset "js/skel.min.js"}}"></script>
    <script src="{{asset "js/skel-layers.min.js"}}"></script>
    <script src="{{asset "js/init.js"}}"></script>
    <noscript>
        <link rel="stylesheet" href="{{asset "css/skel.css"}}" />
        <link rel="stylesheet" href="{{asset "css/style.css"}}" />
        <link rel="stylesheet" href="{{asset "css/style-xlarge.css"}}" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="{{asset "css/ie/v8.css"}}" /><![endif]-->

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <section class="4u 6u(medium) 12u$(small)">
                        <h3>Mail</h3>
                        <ul class="alt">
                            <li>
                                <a href="mailto:nemofficial.jeff@gmail.com " target="_blank">nemofficial.jeff@gmail.com </a>
                            </li>
                        </ul>
                        <h3>Tutorials</h3>
                        <ul class="alt">
                            <li><a href="http://blog.nem.io/nem-tutorial-list/">Full Tutorial Index</a></li>
                            <li><a href="http://blog.nem.io/windows-mac-installation-guide/">Installation Guide</a></a></li>
                            <li><a href="http://blog.nem.io/connecting-to-a-remote-server/">Connet to Remote Server</a></a></li>
                        </ul>
                        <h3>Newsletters</h3>
                        <ul class="alt">
                            <li><a href="http://blog.nem.io/the-newsletter/">Newsletter 10</a></li>
                            <li><a href="https://medium.com/@nemcoin/nem-newsletter-9-1299cf8660f1/">Newsletter 9</a></a></li>
                        </ul>
                    </section>
                    <section class="4u 6u$(medium) 12u$(small)">
                        <h3>Imortant Links</h3>
                        <ul class="alt">
                            <li><a href="https://en.wikipedia.org/wiki/NEM_-_New_Economy_Movement">Wikipedia</a></li>
                            <li><a href="https://poloniex.com/exchange#btc_xem">Poloneix</a></li>
                            <li><a href="http://nembex.nem.ninja/">Block Explorer</a></li>
                        </ul>
                        <h3>In The News</h3>
                        <ul class="alt">
                            <li><a href="http://cointelegraph.com/news/114289/nem-technical-reference-introduces-reputation-enhanced-proof-of-importance">White Paper</a></li>
                            <li><a href="https://finance.yahoo.com/news/cryptocurrency-nem-gears-change-trade-100500963.html">Yahoo</a></li>
                            <li><a href="http://cointelegraph.com/news/113839/nem-launches-targets-old-economy-with-proof-of-importance">Coin Telegraph</a></li>
                            <li><a href="http://allcoinsnews.com/2015/04/07/nem-qa/">All Coins</a></li>
                        </ul>
                    </section>
                    <section class="4u$ 12u$(medium) 12u$(small)">
                        <h3>Social</h3>
                        <ul class="icons">
                            <li><a href="https://twitter.com/ournem" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="https://www.facebook.com/ourNEM" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="https://www.reddit.com/r/ournem" class="icon rounded fa-reddit"><span class="label">Reddit</span></a></li>
                            <li><a href="https://github.com/NewEconomyMovement/" class="icon rounded fa-github"><span class="label">Github</span></a></li>
                        </ul>
                        <h3>Exchanges</h3>
                        <ul class="alt">
                            <li><a href="https://poloniex.com/exchange#btc_xem">Poloneix</a></li>
                            <li><a href="https://bter.com/trade/XEM_BTC">BTER</a></li>
                            <li><a href="https://vip.bitcoin.co.id/nembtc">Bitcoin.co.id</a></li>
                            <li><a href="http://btc38.com/trade.html?mk_type=btc&btc38_trade_coin_name=xem">BTC38</a></li>
                            <li><a href="https://bittrex.com/Market/Index?MarketName=BTC-XEM">Bittrex</a></li>
                        </ul>
                    </section>
                </div>
                <ul class="copyright">
                    <li><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</li>
                    <li><a href="http://nem.io/">NEM Main Website</a></li>
                </ul>
            </div>
        </footer>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>
